div{
    background-color: rgb(62, 177, 216);
    height: 80px;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    text-align: center;
    color: rgb(89, 41, 153);
    letter-spacing: 15px;
}